body {
    background-color: rgba(201, 76, 76, 0.3);

};


    


.list-group{
text-align: center;
}
.TouristAttraction{
text-align: center;
}
h1 {
    font-size: 2.5rem;
    text-align: -webkit-center;
    font-style: italic;
}
.cardImage {
    height: 200px;
    width: auto;
    }
    


    


.card-header{
    justify-content: center
    
}

/* .card{
    margin: 15px;
    border: 1px solid BLACK;
    box-shadow: 1px 2px 2px 1px;
    width: 400px;
    padding: 0px;
    -webkit-flex-flow: row wrap;
  justify-content: space-around
} */