body {
    background-color: rgba(201, 76, 76, 0.3);

};



.image{
    
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    min-width: 200px;
    height: 200px;
    margin-top: 25px;
}

    .list-group{
    text-align: center;
}
.TouristAttraction{
    text-align: center;
}
h1 {
        font-size: 2.5rem;
        text-align: -webkit-center;
        font-style: italic;
    }

    .card-header {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        align-items: center;
    }
#place-container {
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: 1000px;
    justify-self: center;
    -webkit-align-content: center;
    align-content: center;
    margin-right: 4rem;
    margin-left: 8rem;
    display: flex;
   
   align-items: center;
   justify-content: center;
    
} 
